<header>
    <div class="header-container">
        <div class="logo" style="cursor:pointer" onclick="location.href='../../../index.html'">🏝️ 두근두근타운</div>
        <nav>
            <ul>
                <li><a href="/heartopia/src/pages/main/main.html">홈</a></li>
                <li><a href="/heartopia/src/pages/fish/fish_list.html">낚시 도감</a></li>
                <li><a href="/heartopia/src/pages/fish/fish_finder.html">물고기 찾기</a></li>
                <li><a href="/heartopia/src/pages/bug/bug_list.html">곤충 도감</a></li>
                <li><a href="/heartopia/src/pages/bird/bird_list.html">새 도감</a></li>
            </ul>
        </nav>
    </div>
</header>