<header>
    <div class="header-container">
        <div class="logo" style="cursor:pointer" onclick="location.href='https://polaris6000.github.io/heartopia/index.html'">🏝️ 두근두근타운</div>
        <nav>
            <ul>
                <li><a href="https://polaris6000.github.io/heartopia/index.html">홈</a></li>
                <li><a href="https://polaris6000.github.io/heartopia/src/pages/fish/fish_list.html">어류 도감</a></li>
                <li><a href="https://polaris6000.github.io/heartopia/src/pages/bug/bug_list.html">곤충 도감</a></li>
                <li><a href="https://polaris6000.github.io/heartopia/src/pages/bird/bird_list.html">조류 도감</a></li>
            </ul>
        </nav>
    </div>
</header>